<%- include('./partials/header') %>
<body class="body">
    <header class="header">
        <nav class="header-nav" id="header-nav">
            <div class="burger-menu" id="burger-menu">
                <div class="burger-menu-icon" id="burger-menu-icon">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
                <ul class="burger-list">
                    <li class="burger-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="burger-item"><a class="nav-link" href="#heroes">Nos Héros</a></li>
                    <li class="burger-item"><a class="nav-link" href="#review">Témoignages</a></li>
                    <li class="burger-item"><a class="nav-link" href="#contact-us">Sauvez-moi !</a></li>
                </ul>
            </div>
            <h1 class="nav-title">Heros League</h1>
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#heroes">Nos Héros</a></li>
                <li class="nav-item"><a class="nav-link" href="#review">Témoignages</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact-us">Sauvez-moi !</a></li>
            </ul>
        </nav>
        <div class="title-container">
            <h2 class="header-title">Heros League</h2>
            <p class="header-subtitle">Des gens spéciaux, pour des problèmes pas tout à fait normaux</p>
        </div>
    </header>
    <section class="services" id="services">
        <h2 class="services-title section-title">Nos <em class="super-title">Supers</em> Services</h2>
        <div class="services-grid-container">
                <% services.forEach(service => { %>
                    <article class="card <%= service.cssClass %>">
                        <h3 class="card-title"><%= service.title %></h3>
                        <p class="card-subtitle"><%= service.description %></p>
                        <button class="services-btn btn">À partir de 
                            <% if (service.id === 3) { %>
                                <%= service.price %>€/h
                                <% } else { %>
                                    <%= service.price %> €
                                    <% } %>
                                </button>
                                <p class="card-joke"> <%= service.joke %></p>
                            </article>
                            <% }) %>
        </div>
    </section>
    <section class="heroes" id="heroes">
        <h2 class="heroes-title section-title">Nos <em class="super-title">Supers</em> Héros</h2>
        <div class="hero-card-container">
            <% heroes.forEach(hero => { %>
                <div class="hero-card <%= hero.cssClass %>">
                    <p class="hero-description--hover"> <%= hero.description_2 %></p>
                    <div class="hero-presentation">
                        <h4 class="hero-name"><%= hero.name %></h4>
                        <p class="hero-description"><%= hero.description %></p>
                    </div>
                </div>
                <% }); %>
        </div>
        <a href="#" class="hero-btn btn">TOUS NOS HÉROS</a>
    </section>
    <section class="review" id="review">
        <h2 class="review-title section-title">Les Témoignages de nos clients</h2>
        <div class="review-card-container slider" id="slider">
            <% reviews.forEach(review => { %>
                <article class="review-card slider__element">
                    <div class="pp <%= review.cssClass %>"></div>
                    <p class="pseudo"><%= review.author %></p>
                    <p class="opinion"> "<%= review.message %>" </p>
                </article>
            <% }) %>
            <button class="hidden slider__btn slider-prev" id="slider-prev">&lt;</button>
            <button class="hidden slider__btn slider-next" id="slider-next">&gt;</button>
        </div>
    </section>
    <section class="contact-us" id="contact-us">
        <h2 class="contact-us-title section-title">Sauvez-moi !</h2>
        <form class="contact-us-form" action="#" method="post">
            <label class="label" for="name">Nom</label>
            <input class="input" type="text" name="name" id="name">
            <label class="label" for="Email">Email</label>
            <input class="input" type="email" name="mail" id="Email">
            <label class="label" for="service">Service</label>
            <select class="input" name="services" id="service">
                <option value="service 1">Super Déménagement</option>
                <option value="service 2">Livraison de repas</option>
                <option value="service 3">Z'héro bouchons</option>
                <option value="service 4">Sauvetage de soirée</option>
                <option value="service 5">Moral à Z'héro</option>
            </select>
            <label class="label" for="message">Message</label>
            <textarea class="input textarea" name="message" id="message"></textarea>
            <button type="submit" class="form-btn btn">Envoyer</button>
        </form>
    </section>
<%- include('./partials/footer') %>